@page "/"
@inject IJSRuntime JSRuntime
@inject FoodService foodService
@inject IHttpContextAccessor HttpContextAccessor
@inject NotificationService notificationService
@inject IConfiguration configuration;

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a @onclick="() => ScrollToHome()" class="btn btn-link nav-link nav-home active">Home</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToInfo()" class="btn btn-link nav-link nav-info">Info</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToForm()" class="btn btn-link nav-link nav-form">My Waste</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToVisualization()" class="btn btn-link nav-link nav-visualization">Visualization</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToTips()" class="btn btn-link nav-link nav-tips">Tips</a>
            </li>
        </ul>
    </div>
</nav>

<!---------------------------------------------------------------------------------------------->
<!-----------------------------------                        ----------------------------------->
<!--------------------------------          Home Page           -------------------------------->
<!-----------------------------------                        ----------------------------------->
<!---------------------------------------------------------------------------------------------->
<div id="home" class="content-section" style="background-color: green;">
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 15vh; width: 100%; margin-bottom: 2rem;">
        <RadzenText TextStyle="TextStyle.DisplayH5" Style="margin-top: 5rem">Home Page</RadzenText>
    </RadzenRow>
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 10vh; width: 100%;">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" Click="ScrollToInfo" Icon="arrow_downward" Text="See the impact" Style="height: 2vh" />
    </RadzenRow>
</div>


<!---------------------------------------------------------------------------------------------->
<!-----------------------------------                        ----------------------------------->
<!--------------------------------          Info Page           -------------------------------->
<!-----------------------------------                        ----------------------------------->
<!---------------------------------------------------------------------------------------------->
<div id="info" class="content-section" style="background-color: blue;">
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 15vh; width: 100%; margin-bottom: 2rem;">
        <RadzenText TextStyle="TextStyle.DisplayH5" Style="margin-top: 5rem">Info Page</RadzenText>
    </RadzenRow>
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 10vh; width: 100%;">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" Click="ScrollToForm" Icon="arrow_downward" Text="See my impact" Style="height: 2vh" />
    </RadzenRow>
</div>


<!---------------------------------------------------------------------------------------------->
<!-----------------------------------                        ----------------------------------->
<!--------------------------------          Form Page           -------------------------------->
<!-----------------------------------                        ----------------------------------->
<!---------------------------------------------------------------------------------------------->
    <div id="form" >
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 15vh; width: 100%;">
            <RadzenText TextStyle="TextStyle.DisplayH5" Style="margin-top: 5rem">My Waste</RadzenText>
        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 30vh; width: 100%;">
            <RadzenTemplateForm Data="@foodFormModel" >
                <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/wheat.svg" />
                                <b style="margin-left: 5px; font-size:smaller;">Cereals, Grains, and Tubers (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack>
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.CerealsId Data=@vegetablesList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusCereals" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.CerealsAmount ShowUpDown="false" Name="Cereal"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddCereals" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Cereal" Min="0" Text="Quantity should be bigger than 0" Popup=true Style="position: absolute; margin-top: -1rem;" />
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveCereals" ButtonType="ButtonType.Submit">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>

                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/pepper.svg" />
                                    <b style="margin-left: 5px; font-size:smaller;">Fruits, Cereals, and Nuts (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.FruitsId Data=@fruitsList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusFruits" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.FruitsAmount ShowUpDown="false" Name="Fruit"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddFruits" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Fruit" Min="0" Text="Quantity should be bigger than 0" Popup="true" Style="position: absolute; margin-top: -1rem;"></RadzenNumericRangeValidator>
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveFruits">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>

                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/egg.svg" />
                                    <b style="margin-left: 5px; font-size:smaller;">Dairy, Meats, and Animal Products (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.MeatsId Data=@meatList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusMeats" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.MeatsAmount ShowUpDown="false" Name="Meat"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddMeats" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Meat" Min="0" Text="Quantity should be bigger than 0" Popup="true" Style="position: absolute; margin-top: -1rem;"></RadzenNumericRangeValidator>
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveMeats" class="minus-top-gap">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>

                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/wine.svg" />
                                    <b style="margin-left: 5px; font-size:smaller;">Oils, Sweets, and Beverages (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.OilsId Data=@otherList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusOils" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.OilsAmount ShowUpDown="false" Name="Oil"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddOils" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Oil" Min="0" Text="Quantity should be bigger than 0" Popup="true" Style="position: absolute; margin-top: -1rem;"></RadzenNumericRangeValidator>
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveOils">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenTemplateForm>
        </RadzenRow>
        @if(savedFoodList.Count > 0)
        {
            <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Start" Style="width: 100%;">
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                Data="@savedFoodList" TItem="SavedFood" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" Density="Density.Compact" Style="width: 60%">
                    <Columns>
                        <RadzenDataGridColumn TItem="SavedFood" Property="FoodItem.FoodName" Filterable="false" Title="Food" Width="40vh" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="SavedFood" Property="FoodAmount" Filterable="true" Title="Amount" Width="40vh" TextAlign="TextAlign.Center" />
                        <RadzenDataGridColumn TItem="SavedFood" Width="20vh" Filterable="false" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteItem(data))"></RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenRow>
            <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 10vh; width: 100%;">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" Click="ScrollToVisualization" Icon="arrow_downward" Text="Calculate My Impact" Style="height: 2vh"/>
            </RadzenRow>
        }
    </div>


<!---------------------------------------------------------------------------------------------->
<!-----------------------------------                        ----------------------------------->
<!--------------------------------      Visualization Page      -------------------------------->
<!-----------------------------------                        ----------------------------------->
<!---------------------------------------------------------------------------------------------->
@if (savedFoodList.Count > 0)
{
    <div id="visualization">
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 15vh; width: 100%; margin-bottom: 2rem;">
            <RadzenText TextStyle="TextStyle.DisplayH5" Style="margin-top: 5rem">Total impact to environment</RadzenText>
        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
            <RadzenColumn class="rz-p-5" Size="2">
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                    <h6>Green-house Gas Emission</h6>
                    <RadzenText TextStyle="TextStyle.H2">@GHGSum</RadzenText>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn class="rz-p-5" Size="2">
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                    <h6>Land Used</h6>
                    <RadzenText TextStyle="TextStyle.H2">@LandSum</RadzenText>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn class="rz-p-5" Size="2">
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                    <h6>Water Wasted</h6>
                    <RadzenText TextStyle="TextStyle.H2">@WaterSum</RadzenText>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn class="rz-p-5" Size="2">
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center">
                    <h6>Eutrophying</h6>
                    <RadzenText TextStyle="TextStyle.H2">@EutrophyingSum</RadzenText>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 15vh; width: 100%; margin-bottom: 2rem;">
            <RadzenText TextStyle="TextStyle.DisplayH5" Style="margin-top: 5rem">Detailed impact by food</RadzenText>
        </RadzenRow>

        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">

        <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client" Style="width: 60%">

            <Tabs>
                <RadzenTabsItem Text="Green-house Gas Emission">
                    <RadzenChart>
                        <RadzenColumnSeries Data="@GHGVis" CategoryProperty="FoodName" Title="GHG" LineType="LineType.Dashed" ValueProperty="FoodGHG" Fill="#335c67">
                            <RadzenSeriesDataLabels Visible="true" />
                            <RadzenLegend Visible="false" />
                        </RadzenColumnSeries>
                        <RadzenValueAxis>
                            <RadzenGridLines Visible="true" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Water Wasted">
                    <RadzenChart>
                        <RadzenColumnSeries Data="@waterVis" CategoryProperty="FoodName" Title="Water wasted" LineType="LineType.Dashed" ValueProperty="FoodWater" Fill="#fff3b0">
                            <RadzenSeriesDataLabels Visible="true" />
                            <RadzenLegend Visible="false" />
                        </RadzenColumnSeries>
                        <RadzenValueAxis>
                            <RadzenGridLines Visible="true" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Land Used">
                    <RadzenChart>
                        <RadzenColumnSeries Data="@landVis" CategoryProperty="FoodName" Title="Land used" LineType="LineType.Dashed" ValueProperty="FoodLand" Fill="#e09f3e">
                            <RadzenSeriesDataLabels Visible="true" />
                            <RadzenLegend Visible="false" />
                        </RadzenColumnSeries>
                        <RadzenValueAxis>
                            <RadzenGridLines Visible="true" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Eutrophying">
                    <RadzenChart>
                        <RadzenColumnSeries Data="@eutrophyingVis" CategoryProperty="FoodName" Title="Eutrophying" LineType="LineType.Dashed" ValueProperty="FoodEutrophying" Fill="#9e2a2b">
                            <RadzenSeriesDataLabels Visible="true" />
                            <RadzenLegend Visible="false" />
                        </RadzenColumnSeries>
                        <RadzenValueAxis>
                            <RadzenGridLines Visible="true" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>

        </RadzenRow>
    </div>
}
else
{
    <div id="visualization" style="height: 30vh">
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 15vh; width: 100%; margin-bottom: 2rem;">
            <RadzenText TextStyle="TextStyle.DisplayH5" Style="margin-top: 5rem">Your Impact to the Environment</RadzenText>
        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 10vh; width: 100%;">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" Variant="Variant.Text" Size="ButtonSize.Large" Click="ScrollToForm" Icon="arrow_upward" Text="Add some data to see your impact" Style="height: 2vh" />
        </RadzenRow>
    </div>
}

    <div id="tips" class="content-section" style="background-color: yellow;">
        <h2>What You Can Do</h2>
    <div class="container-fluid">
        <div class="row p-3">
                <iframe width="600"
                        height="450"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                    src="@googleMapSrc">
                </iframe>
        </div>
    </div>
    </div>

@code {
    bool isLoading;
    int count;

    private void ScrollToHome()
    {
        JSRuntime.InvokeVoidAsync("scrollToHome");
    }

    private void ScrollToInfo()
    {
        JSRuntime.InvokeVoidAsync("scrollToInfo");
    }

    private void ScrollToForm()
    {
        JSRuntime.InvokeVoidAsync("scrollToForm");
    }

    private void ScrollToVisualization()
    {
        JSRuntime.InvokeVoidAsync("scrollToVisualization");
    }

    private void ScrollToTips()
    {
        JSRuntime.InvokeVoidAsync("scrollToTips");
    }
}