@page "/"
@Html.AntiForgeryToken()
@using Syncfusion.EJ2
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>Food Saver</h1>
        <h2>Taste the Impact: Every Bite Makes a Difference.</h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
    </section><!-- End Hero -->

<main id="main">
<!-- ======= Clients Section ======= 
<section id="clients" class="clients">
    <div class="container">

    <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
        <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
        <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
        <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
        <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
        </div>

    </div>

    </div>
</section> End Clients Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2>About</h2>
                <h3>Beyond the Bin: The Ecosystem Impact of Food Waste</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <p>
                    7.6 Million tonnes of household food waste each year in Australia
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Generating 3 million tonnes of Green-house Gas</li>
                    <li><i class="ri-check-double-line"></i> 29 Billion liters of water is wasted which was used to grow the food</li>
                </ul>
                <p class="fst-italic">
                    The energy-intensive processes of growing, processing, and transporting food releases carbon dioxide. When discarded food decomposes in landfills, it emits methane, a potent greenhouse gas. Additionally, vast amounts of water are utilized in food production. Wasting food means squandering this water, exacerbating water scarcity issues and leading to unnecessary wastewater, often polluted with agricultural runoffs.
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">
        <div class="row counters">
            <div class="col-lg-6 col-6 text-center">
                <p>The Green-house emission in equivelent to </p>
                    <span data-purecounter-start="0" data-purecounter-end="6.7" data-purecounter-duration="1" class="purecounter"></span>
                <p>million cars</p>
            </div>
            <div class="col-lg-6 col-6 text-center">
                <p>The wasted water can fill Sydney Harbour</p>
                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>
                <p>times</p>
            </div>
        </div>
    </div>
</section><!-- End Counts Section -->



<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                <div class="content">
                    <h3>In Australia, 27% of food waste is from household</h3>
                    
                    <div class="text-center">
                        <a href="https://zzha0352.shinyapps.io/food/" target="_blank" class="more-btn">Wastes from other places<i class="bx bx-chevron-right"></i></a>
                    </div>
                    <br />
                    <br />
                    <h4>
                        And it is getting worse
                    </h4>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center" style="width: 100%">
                    <div class="row">
                        <div class="d-flex align-items-stretch" data-aos="fade-in" data-aos-delay="100">
                            <div class="icon-box mt-4 mt-xl-0">
                                @if(Model.FoodWastes != null){
                                    <ejs-chart id="container" title="Average waste per household per year in Victoria">
                                        <e-chart-primaryxaxis valueType="DateTime" labelFormat="yyyy" interval="2" title="Year">
                                        </e-chart-primaryxaxis>
                                        <e-chart-primaryyaxis title="Waste (kg)" minimum="0">
                                        </e-chart-primaryyaxis>
                                        <e-series-collection>
                                            <e-series dataSource="@Model.FoodWastes" xName="FinancialYear" yName="Waste"
                                                    type="@Syncfusion.EJ2.Charts.ChartSeriesType.Area"></e-series>
                                        </e-series-collection>
                                    </ejs-chart>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- End Why Us Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

    <div class="text-center" data-aos="zoom-in">
        <h3>How impact are generated during the food production</h3>
            <a class="cta-btn" href="https://zzha0352.shinyapps.io/food/" target="_blank">Learn More <i class="bi bi-box-arrow-up-right"></i></a>
    </div>

    </div>
</section><!-- End Cta Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

    <div class="row">
        <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
                <h2>Impacts</h2>
                <p>caused by food waste</p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><iconify-icon icon="ion:water" width="32" height="32"></div>
                        <h4>
                            <a href="">Water Used</a>
                        </h4>
                        <p>Producing food necessitates water due to its pivotal role in the photosynthesis of plants, hydration needs of livestock, irrigation to supplement insufficient rainfall for crops, processing stages that include cleaning and cooking, maintaining soil health.</p>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><iconify-icon icon="ion:earth" width="32" height="32"></iconify-icon></div>
                        <h4>
                            <a href="">Land Used</a>
                        </h4>
                        <p>
                            Producing food requires land as it serves as the foundational medium for cultivating various crops, offers grazing and habitat areas for livestock, supports infrastructure for agricultural practices, and plays a role in the ecosystem services essential for maintaining soil health, nutrient cycling, and water management.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><iconify-icon icon="material-symbols:co2" width="48" height="48"></iconify-icon></div>
                        <h4>
                            <a href="">GHG Emissions</a>
                        </h4>
                        <p>
                            Producing food generates greenhouse gases due to agricultural practices like livestock methane emissions, crop cultivation, deforestation for farmland, and the energy-intensive nature of food processing and transportation.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><iconify-icon icon="mdi:dirty" width="32" height="32"></iconify-icon></div>
                        <h4>
                            <a href="">Eutrophying Emissions</a>
                        </h4>
                        <p>Food waste intensifies eutrophying emissions because wasted food means wasted fertilizers, especially nitrogen and phosphorus. When these nutrients enter water bodies, they trigger excessive algae growth. Decomposing algae consume oxygen, leading to aquatic "dead zones" from eutrophication.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section><!-- End Services Section -->

<!-- ======= Portfolio Section -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-left">
            <h2>Try the waste simulator</h2>
            <p> See the impact to the environment if you waste a certain grocery</p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <button id="refreshProductsBtn" class="btn btn-refesh">Change Products <i class="bx bx-refresh"></i></button>
            </div>
        </div>
        <br/>
        <script>
            let allProducts = @Html.Raw(Json.Serialize(Model.Products));

            function displayRandomProducts() {
                let displayedProducts = [];
                let productContainer = document.getElementById('productContainer');

                // Clear the previous products
                productContainer.innerHTML = "";
                // Get 4 random products
                while (displayedProducts.length < 4) {
                    let randomIndex = Math.floor(Math.random() * allProducts.length);
                    if (displayedProducts.indexOf(randomIndex) === -1) {
                        displayedProducts.push(randomIndex);
                        let product = allProducts[randomIndex];

                        let productDiv = `
                        <div class="col-lg-3 col-md-6 portfolio-item filter-app" data-aos="zoom-in-up" data-aos-delay="80">
                            <div class="portfolio-wrap">
                                <img src="${product.url}" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>${product.name}</h4>
                                    <p>${product.qty}</p>
                                    <div class="portfolio-links">
                                        <a href="#" id="${product.name}" class="productAdd" data-water="${product.water}" data-land="${product.land}" data-eut="${product.eut}" data-ghg="${product.ghg}" data-name="${product.name}" data-qty="${product.qty}"><i class="bx bx-plus"></i> Add</a>
                                    </div>
                                </div>
                            </div>
                        </div>`;

                        productContainer.innerHTML += productDiv;
                    }
                }

                let addButtons = document.querySelectorAll('.productAdd');
                addButtons.forEach(btn => {
                    btn.addEventListener('click', function (event) {
                        event.preventDefault();
                            // Extract data attributes

                        let resultContainer = document.getElementById("resultContainer");
                        resultContainer.innerHTML = `
                            <div class="row counters counts" data-aos="fade-down" data-aos-delay="60">
                                <div class="text-center">
                                    <h4>If you wasted <span id="productQty"></span> <span id="productName"></span></h4>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-lg-3 col-6 text-center">
                                        <p>Water Used</p>
                                        <span id="waterResult"></span> L
                                    </div>
                                    <div class="col-lg-3 col-6 text-center">
                                        <p>Land Used</p>
                                        <span id="landResult"></span> m²
                                    </div>
                                    <div class="col-lg-3 col-6 text-center">
                                        <p>GHG Emissions</p>
                                        <span id="ghgResult"></span> kg
                                    </div>
                                        <div class="col-lg-3 col-6 text-center">
                                        <p>Eutropphying Emissions</p>
                                        <span id="eutResult"></span> kg
                                    </div>
                                </div>
                            </div>`;


                        let waterContent = btn.getAttribute('data-water');
                        let landContent = btn.getAttribute('data-land');
                        let eutContent = btn.getAttribute('data-eut');
                        let ghgContent = btn.getAttribute('data-ghg');
                        let productName = btn.getAttribute('data-name');
                        let productQty = btn.getAttribute('data-qty');

                        // Populate the result div
                        document.getElementById('waterResult').innerText = waterContent;
                        document.getElementById('landResult').innerText = landContent;
                        document.getElementById('eutResult').innerText = eutContent;
                        document.getElementById('ghgResult').innerText = ghgContent;
                        document.getElementById('productName').innerText = productName;
                        document.getElementById('productQty').innerText = productQty;
                    });
                });
            }

            document.getElementById('refreshProductsBtn').addEventListener('click', displayRandomProducts);
        </script>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200" id="productContainer" style="height: 20rem">
            <script>
                displayRandomProducts();
            </script>
        </div>
        <div id="resultContainer">
        </div>
    </div>
</section>

<section class="cta">
    <div class="container">
        <div class="text-center" data-aos="zoom-in">
                <h3>Want to see more foods?</h3>
                <a class="cta-btn" href="https://tienmonash.shinyapps.io/Food_GHG_Emission/" target="_blank">Learn More <i class="bi bi-box-arrow-up-right"></i></a>
        </div>
    </div>
</section>
    

<!-- ======= Testimonials Section ======= 
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

    <div class="row">
        <div class="col-lg-4">
        <div class="section-title" data-aos="fade-right">
            <h2>Testimonials</h2>
            <p>Magnam dolores commodi suscipit uisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                </div>
            </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
        </div>
    </div>

    </div>
</section> End Testimonials Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>Actions</h2>
                    <p>What you can do to reduce food waste</p>
            </div>
            </div>
            <div class="col-lg-8">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="member" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic">
                                <img src="~/jpg/donate.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                            <h4>Donation Points</h4>
                            <p>You can donate unwanted food to people who need it</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic">
                                <img src="~/jpg/freezer.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                            <h4>Expire Reminder</h4>
                            <p>Remind you before foods expire </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic">
                                <a href="/recipes">

                                                    <img src="~/jpg/cooking.jpg" class="img-fluid" alt="">
                                    </a>
                            </div>
                            <div class="member-info">
                            <h4>Recipes Hub</h4>
                            <p>Use what you have to cook. Don't waste them</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic"><img src="~/jpg/shopping.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                            <h4>Meal Planner</h4>
                            <p>Plan your meal ahead and buy what is needed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Team Section -->






    <button id="refreshButton">Refresh Products</button>

    <div id="productsList">
    </div>
    @section Scripts {
        <script>
            var token = $('[name="__RequestVerificationToken"]').val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Page("Index", "RefreshProducts")",
                        headers: {
                            "RequestVerificationToken": token
                        },
                        success: function (data) {
                            // Clear current list
                            $("#productsList").empty();
                            // Append new product details
                            data.forEach(product => {
                                $("#productsList").append(`<div class="product">
                                                                <h3>${product.name}</h3>
                                                                <a href="${product.url}">Link</a>
                                                                <p>Qty: ${product.qty}</p>
                                                            </div>`);
                            });
                        },
                        error: function () {
                            alert("An error occurred while fetching products.");
                        }
            });
        </script>
    }
<br/>
<br/>

</main><!-- End #main -->




